@using Dfe.PlanTech.Application.Providers.Interfaces
@inject IMicrocopyProvider Microcopy
@model ViewAnswersViewModel

@section NavButton {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

@{
    await Html.RenderPartialAsync("PrintButton");
}

@{
    var dynamicValues = new Dictionary<string, string>
    {
        ["dateCompleted"] = Model.AssessmentCompletedDate.ToString("dd MMMM yyyy")
    };
}

<span class="govuk-caption-xl">@Model.TopicName</span>
<h1 class="govuk-heading-xl">
    @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.ViewAnswersHeader)
</h1>
<p>
    @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.ViewAnswersIntroText, dynamicValues)
</p>

<p>@await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.ViewAnswersIntroMore)</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
@foreach (var response in Model.Responses)
{
    <div>
        <p class="govuk-!-font-weight-bold">@response.QuestionText</p>
        <p>@response.AnswerText</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-4" />
    </div>
}

<hr class="govuk-section-break govuk-section-break--l">

<a href="@($"/{Model.CategorySlug}")" draggable="false"
   class="govuk-button govuk-button--secondary" data-module="govuk-button">
    @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.ViewAnswersBackToRecs)
</a>
