@using Dfe.PlanTech.Web.TagHelpers.TaskList
@model Dfe.PlanTech.Domain.Questionnaire.Interfaces.ICategory;
@{
    int totalCount = Model.SectionStatuses.Count(x => x.Completed == 1);

}

<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Progress</h3>

<p class="govuk-body govuk-!-margin-bottom-5">You have completed <strong>0 of @totalCount</strong> recommendations.</p>

<task-list>
    @foreach(var section in Model.Sections)
    {
        var submission = Model.SectionStatuses.FirstOrDefault(x => x.SectionId == section.Sys.Id && x.Completed == 1);

        if (submission is null)
            continue;

        totalCount++;
        var recommendation = section.GetRecommendationForMaturity(submission.Maturity);  
          
        var tagColour = TagColour.Grey;
        var tagText = "NOT STARTED";
    
        <task-list-item>
            <task-list-item-name>
                <a asp-controller="Pages" asp-action="GetByRoute" asp-route-route="@recommendation?.Page?.Slug" class="govuk-link">
                @recommendation.DisplayName
                </a>
            </task-list-item-name>

            <task-list-tag colour=@tagColour>
            @tagText
            </task-list-tag>
        </task-list-item>
    }

</task-list>
