@using static Dfe.PlanTech.Core.Constants.ContentfulMicrocopyConstants
@model CategoryCardsViewComponentViewModel

@{
    MicrocopyRecord cardMicrocopyRecord;

    if (Model.CompletedSectionCount == 0 && Model.TotalSectionCount == 1)
    {
        cardMicrocopyRecord = ContentfulMicrocopyConstants.HomeCardStatusSingleNotStarted;
    }
    else if (Model.CompletedSectionCount == 0)
    {
        cardMicrocopyRecord = ContentfulMicrocopyConstants.HomeCardStatusMultipleNotStarted;
    }
    else
    {
        cardMicrocopyRecord = Model.CompletedSectionCount < Model.TotalSectionCount
            ? ContentfulMicrocopyConstants.HomeCardStatusContinue
            : ContentfulMicrocopyConstants.HomeCardStatusViewRecommendations;
    }
}

<div class="dfe-card">
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@Model.CategorySlug" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                @Model.CategoryHeaderText
            </a>
        </h3>

        <p class="govuk-body-s">
            @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(cardMicrocopyRecord, Model.MicrocopyEntries)
        </p>
    </div>
</div>
