@model CategoryCardsViewComponentViewModel

    <div class="dfe-card">
        <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="@Model.CategorySlug" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                    @Model.CategoryHeaderText
                </a>
            </h3>

            <p class="govuk-body-s">
                @GetStatusText(Model.CompletedSectionCount, Model.TotalSectionCount)
            </p>
        </div>
    </div>

@functions {
    public static string GetStatusText(int completed, int total)
    {
        if (completed == 0 && total == 1)
        {
            return "Start self-assessment";
        }

        if (completed == 0)
        {
            return "Start self-assessments";
        }

        return completed < total
            ? "Continue self-assessments"
            : "View recommendations";
    }
}
