@using Dfe.PlanTech.Application.Providers.Interfaces
@using static Dfe.PlanTech.Core.Constants.ContentfulMicrocopyConstants
@inject IMicrocopyProvider Microcopy
@model CategoryCardsViewComponentViewModel

@{
    string cardMicrocopyKey = string.Empty;

    if (Model.CompletedSectionCount == 0 && Model.TotalSectionCount == 1)
    {
        cardMicrocopyKey = ContentfulMicrocopyConstants.HomeCardStatusSingleNotStarted;
    }
    else if (Model.CompletedSectionCount == 0)
    {
        cardMicrocopyKey = ContentfulMicrocopyConstants.HomeCardStatusMultipleNotStarted;
    }
    else
    {
        cardMicrocopyKey = Model.CompletedSectionCount < Model.TotalSectionCount
            ? ContentfulMicrocopyConstants.HomeCardStatusContinue
            : ContentfulMicrocopyConstants.HomeCardStatusViewRecommendations;
    }
}

<div class="dfe-card">
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@Model.CategorySlug" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                @Model.CategoryHeaderText
            </a>
        </h3>
        <p class="govuk-body-s">
            @await Microcopy.GetTextByKeyAsync(cardMicrocopyKey)
        </p>
    </div>
</div>
