@model CategoryCardsViewComponentViewModel

<div class="dfe-card">
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@Model.CategorySlug" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                @Model.CategoryHeaderText
            </a>
        </h3>

        <p class="govuk-body-s">
            @ContentfulMicrocopyHelper.GetCardStatusText(Model.CompletedSectionCount, Model.TotalSectionCount, Model.MicrocopyEntries)
        </p>
    </div>
</div>
