@model CategoryCardsViewComponentViewModel

@if (Model.NoSectionsErrorRedirectUrl != null)
{
    Context.Response.Redirect(Url.Content(Model.NoSectionsErrorRedirectUrl));
}

@if (Model.ProgressRetrievalErrorMessage != null)
{
    <p id="progress-error" class="govuk-error-message"><span
        class="govuk-visually-hidden">Error:</span>@Model.ProgressRetrievalErrorMessage</p>
}

<partial name="Components/CategorySection/CategoryCards" model="@Model"/>
