@model Dfe.PlanTech.Domain.CategorySection.CategorySectionDto

@if (Model.Slug != null)
{
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
        <a asp-controller="Pages" asp-action="GetByRoute" asp-route-route="@Model.Slug"
           class="govuk-link">
            @Model.Name
        </a>
    </dt>
    <dd class="govuk-summary-list__value govuk-!-text-align-left">
        <task-list-tag colour=@Model.Tag.Colour>
            @Model.Tag.Text
        </task-list-tag>
    </dd>
}
else
{
    <dt class="govuk-summary-list__key">
        <govuk-error-message>@Model.ErrorMessage</govuk-error-message>
    </dt>
}
