@model Dfe.PlanTech.Domain.CategorySection.CategorySectionRecommendationDto

@if (Model.NoRecommendationFoundErrorMessage == null)
{
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
        @if (Model.RecommendationSlug != null)
        {
            <a class="govuk-link"
               asp-route="GetRecommendation" asp-route-sectionSlug="@Model.SectionSlug" asp-route-recommendationSlug="@Model.RecommendationSlug">
                Recommendation
            </a>
        }
        else
        {
            <span>Recommendation</span>
        }
    </dt>
    <dd class="govuk-summary-list__value govuk-!-text-align-right">
        <task-list-tag colour=@Model.Tag.Colour>
            @Model.Tag.Text
        </task-list-tag>
    </dd>
}
else
{
    <dt class="govuk-summary-list__key">
        <govuk-error-message>@Model.NoRecommendationFoundErrorMessage</govuk-error-message>
    </dt>
}
