@model (string Name, string? SectionSlug, string? ChunkSlug, string? ErrorMessage)

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <govuk-error-message>@Model.ErrorMessage</govuk-error-message>
}

<a asp-route="GetRecommendation"
   asp-route-sectionSlug="@Model.SectionSlug"
   asp-route-chunkSlug="@Model.ChunkSlug"
   class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
    @Model.Name
</a>
