@inject ICookieService cookieService

@{
  var cookie = cookieService.Cookie;
}

@if(!cookie.IsVisible)
{
  return;
}

<section class="govuk-cookie-banner" data-nosnippet aria-label="Cookies on Plan technology for your school">
  <form method="post">
      <div class="govuk-cookie-banner__message govuk-width-container">
        @if(!cookieService.Cookie.UserPreferencesSet){
          <partial name="CookiesBanner/_CookieBanner_PreferencesNotSet" model=@cookie/>
        }
        else
        {
          <partial name="CookiesBanner/_CookieBanner_PreferencesSet" model=@cookie/>
        }
      </div>
  </form>
</section>
