@using Dfe.PlanTech.Core.Enums
@model CookieAcceptOption;

@{
  var optionText = Model.ToString();
  var value = optionText.ToLower();
  var buttonName = $"{value}-cookies";
  var userPreference = Model == CookieAcceptOption.Accept;
}

<button value="@value"type="submit" name="@buttonName" class="govuk-button" data-module="govuk-button" asp-controller="Cookies" asp-action="SetCookiePreference" asp-route-userPreference="@userPreference">
      @optionText additional cookies
</button>
