root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Organise imports

dotnet_sort_system_directives_first = true

# Indentation
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_indent_switch_labels = true

# Wrapping
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# New line
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Expression preferences
csharp_style_unused_value_assignment_preference = discard_variable
csharp_style_unused_value_expression_statement_preference = discard_variable

# Expression-level preferences
dotnet_style_coalesce_expression = true
dotnet_style_collection_initializer = true
dotnet_style_null_propagation = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true
dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_is_null_check_over_reference_equality_method = true
dotnet_style_prefer_simplified_boolean_expressions = true
dotnet_style_prefer_simplified_interpolation = true

## Set warnings to errors to be auto-fixed by dotnet format
# Using directive is unnecessary
dotnet_diagnostic.IDE0005.severity = error
