{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,

  "overrides": [
    {
      "files": ["tsconfig.json", "tsconfig.*.json"],
      "options": {
        "parser": "jsonc"
      }
    }
  ]
}
