@model CookiesViewModel

@section NavButton {
	<partial name="BackButton" />
}

@foreach (var content in Model.BeforeTitleContent)
{
	<span>Cookies</span>
	await Html.RenderPartialAsync("Components/PageComponentFactory", content);
}

<partial name="Components/PageComponentFactory" model="@Model.Title" />

<partial name="CookiesPreferencesSetBanner" model="@Model" />

@if (Model.Content != null)
{
	foreach (var content in Model.Content)
	{
		<partial name="Components/PageComponentFactory" model="content" />
	}
}

<partial name="CookiePreferencesForm" model="@Model.Cookie" />
