@using Dfe.PlanTech.Application.Providers.Interfaces
@inject IMicrocopyProvider Microcopy
@model StatusLinkViewModel

@{
    string statusText;
    var description = Model.Section.ShortDescription;
    var topic = Model.Section;

    var dynamicValues = new Dictionary<string, string>
    {
        ["topic"] = topic.Name.ToLower().Trim(),
        ["dateUpdated"] = topic.DateUpdated ?? "",
        ["dateCompleted"] = topic.LastCompletionDate ?? ""
    };

    switch (topic.ProgressStatus)
    {
        case SubmissionStatus.InProgress:
            statusText = await Microcopy.GetTextByKeyAsync(
                ContentfulMicrocopyConstants.CategoryPrintSectionInProgress,
                dynamicValues
            );
            break;
        case SubmissionStatus.CompleteReviewed:
            statusText = await Microcopy.GetTextByKeyAsync(
                ContentfulMicrocopyConstants.CategoryPrintSectionCompleted,
                dynamicValues
            );
            break;
        default:
            statusText = await Microcopy.GetTextByKeyAsync(
                ContentfulMicrocopyConstants.CateogoryPrintSectionNotStarted
            );
            break;
    }

    if (Model.Context == "Sections")
    {
        <p>
            @description
        </p>
        <p>
            @statusText
        </p>
    }
}
