@model CategoryLandingViewComponentViewModel

@foreach (var topic in Model.CategoryLandingSections)
{
    <h2 class="govuk-heading-l">@topic.Name</h2>
    <p>@topic.ShortDescription</p>

    <partial name="Components/CategoryLanding/SectionAssessmentLink" model='new StatusLinkViewModel { Section = topic, Context = "Sections" }' />

    @if (topic.LastCompletionDate != null)
    {
        <ul class="govuk-task-list">
            <li class="govuk-task-list__item" style="border-top: none;">
                <div class="govuk-task-list__name-and-hint">
                    <strong>Recommendations</strong>
                </div>
            </li>
        </ul>
    }
}
