@model Dfe.PlanTech.Web.Models.PrivacyViewModel

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("HomeButton");
    }

    <div class="govuk-width-container" id="cookies-page">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                @{
                    await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Title);
                }


                @{
                    if (Model.Content != null)
                    {
                        foreach (var content in Model.Content)
                        {
                            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                        }
                    }
                }
            </div>
        </main>
    </div>
}