@model Dfe.PlanTech.Web.Models.PrivacyViewModel

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("HomeButton");
    }

<div class="govuk-width-container" id="privacy-page">
    <div class="govuk-main-wrapper" id="privacy-page-wrapper">
        <div class="govuk-grid-row" id="privacy-page-grid-row">
            @{
                    await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Title);
                }

                @{
                    if (Model.Content != null)
                    {
                        foreach (var content in Model.Content)
                        {
                            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                        }
                    }
                }
            </div>
        </div>
    </div>
}
