@model Dfe.PlanTech.Web.Models.Content.ContentItemBase

<h2 class="govuk-!-margin-top-4">
    @if (Model.Content.Any())
    {
        foreach (var childNode in Model.Content)
        {
            <partial name="Shared/RichText/_RichText" model="@childNode"/>
        }
    }
</h2>
