@model Dfe.PlanTech.Web.Models.Content.ContentItemBase

<h3>
    @if (Model.Content.Any())
    {
    foreach (var childNode in Model.Content)
    {
    <partial name="Shared/RichText/_RichText" model="@childNode"/>
    }
    }
</h3>
