@model Dfe.PlanTech.Domain.Content.Models.ContentSupport.ContentItemBase

<h5>
    @if (Model.Content.Any())
    {
    foreach (var childNode in Model.Content)
    {
    <partial name="Shared/RichText/_RichText" model="@childNode"/>
    }
    }
</h5>
