@using Dfe.PlanTech.Domain.Content.Models.ContentSupport.Mapped.Types
@model Dfe.PlanTech.Domain.Content.Models.ContentSupport.Mapped.RichTextContentItem

<ol>
    @foreach (var item in Model.Content)

        {
                if(item.NodeType == RichTextNodeType.ListItem)
                {
                    <li>
                        <partial name="Shared/RichText/_Items" model="@item"/>
                    </li>
                }
        }
</ol>
