project_name                              = "plantech"
environment                               = ""
azure_location                            = ""
az_tag_environment                        = "Dev"
az_tag_product                            = "Plan Technology for your School"
cdn_frontdoor_origin_host_header_override = ""