@model Dfe.PlanTech.Domain.CategorySection.CategorySectionRecommendationDto

@if (Model.NoRecommendationFoundErrorMessage == null)
{
    @if (Model.RecommendationSlug != null)
    {
        <task-list-item-name>
            <a class="govuk-link" asp-route="GetRecommendation" asp-route-sectionSlug="@Model.SectionSlug" asp-route-recommendationSlug="@Model.RecommendationSlug">
                Recommendation
            </a>
        </task-list-item-name>
    }
    else
    {
        <task-list-item-name>
            Recommendation
        </task-list-item-name>
    }
    <task-list-tag colour=@Model.TagColour>
        @Model.TagText
    </task-list-tag>
}
else
{
    <task-list-item-name>
        <govuk-error-message>@Model.NoRecommendationFoundErrorMessage</govuk-error-message>
    </task-list-item-name>
}