@model Dfe.PlanTech.Web.SiteOfflineMicrosite.Configuration.MaintenanceConfiguration
@{
    ViewData["Title"] = "Sorry, the service is unavailable";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

        <div>
            @if (Model.MessageParagraphs.Any())
            {
                foreach (var paragraph in Model.MessageParagraphs)
                {
                    <p class="govuk-body">@paragraph</p>
                }
            }
            else
            {
                <p class="govuk-body">
                    You'll be able to use the service later.
                </p>
                <p class="govuk-body">
                    The service is temporarily unavailable for scheduled maintenance. This normally lasts only a few minutes. Please check back later.
                </p>
            }

            <p class="govuk-body">
                <a href="https://schooltech.support.education.gov.uk/hc/en-gb/requests/new?ticket_form_id=22398112507922">Contact the Plan technology for your school team</a> if you have a question, feedback, or need help.
            </p>
        </div>

    </div>
</div>

