<header class="govuk-header" data-module="govuk-header" role="banner">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/home" class="govuk-header__link govuk-header__link--homepage">
                <img src="/assets/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
        </div>
        @if (Context.User.Identity?.IsAuthenticated == true)
        {
            <div class="app-auth-action">
                <a class="app-auth-action__link" href="/signout">
                    Sign out
                </a>
            </div>
        }
    </div>
</header>

<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <a href="/home" class="govuk-service-navigation__link">
                    Plan technology for your school
                </a>
            </span>
        </div>
    </div>
</section>
