@inject ICurrentUser CurrentUser

@section Head {
    <partial name="_Head" />
    @await RenderSectionAsync("CSS", required: false)
    <partial name="GoogleTagManager/_Head" />

    @await RenderSectionAsync("Head", required: false)
}

@{
    Layout = "_GovUkPageTemplate";

    if (ViewData["Title"] == null)
    {
        var routeData = Context.GetRouteData();
        ViewData["Title"] = routeData.GetTitleForPage();
    }
}

@{
    var showChangeSchool = false;

    @* Conditionally show the change school partial on all pages except for specific pages in the exclusion list for MAT's*@
    if (CurrentUser.IsAuthenticated && CurrentUser.IsMat)
    {
        var controller = (string?)ViewContext.RouteData.Values["controller"] ?? "";
        var action = (string?)ViewContext.RouteData.Values["action"] ?? "";

        @* Controller actions where change-school option won't be shown *@
        var excluded = new Dictionary<string, HashSet<string>>(StringComparer.OrdinalIgnoreCase)
        {
            {
                "ReviewAnswers", new HashSet<string>(
                    [nameof(ReviewAnswersController.CheckAnswers)],
                    StringComparer.OrdinalIgnoreCase)
            },
            {
                "Questions", new HashSet<string>(
                    [QuestionsController.GetQuestionBySlugAction, nameof(QuestionsController.SubmitAnswer)],
                    StringComparer.OrdinalIgnoreCase)
            },
            {
                "Groups", new HashSet<string>(
                    [GroupsController.GetSelectASchoolAction],
                    StringComparer.OrdinalIgnoreCase)
            },
        };

        showChangeSchool = !(excluded.TryGetValue(controller, out var actions) && actions.Contains(action));
    }
}

@section Header {
    <partial name="GoogleTagManager/_Body" />
    <partial name="CookiesBanner/_CookieBanner" />
    <partial name="_Header" />

    <div class="govuk-width-container">
        <partial name="BetaHeader" />
        @await RenderSectionAsync("NavButton", required: false)
    </div>
}

@section BeforeContent {
    <partial name="_BeforeContent" />

    @if (showChangeSchool)
    {
        <partial name="ChangeSchool" model="CurrentUser.GroupSelectedSchoolName" />
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @await RenderSectionAsync("Panel", required: false)

        @RenderBody()
    </div>

    <div class="govuk-grid-column-one-third-from-desktop govuk-float-right">
        @await RenderSectionAsync("RelatedActions", required: false)
    </div>
</div>

@section Footer {
    <partial name="_Footer" />
}

@section BodyEnd {
    <partial name="_BodyEnd" />
    @await RenderSectionAsync("BodyEnd", required: false)
}
