@using Dfe.PlanTech.Infrastructure.SignIn.Models
@inject ICurrentUser CurrentUser

@section Head {
    <partial name="_Head" />
    @await RenderSectionAsync("CSS", required: false)
    <partial name="GoogleTagManager/_Head" />

    @await RenderSectionAsync("Head", required: false)
}

@{
    Layout = "_GovUkPageTemplate";

    if (ViewData["Title"] == null)
    {
        var routeData = Context.GetRouteData();
        ViewData["Title"] = routeData.GetTitleForPage();
    }
}

@{
    var showChangeSchool = false;

    var selectedSchool = CurrentUser.GroupSelectedSchoolName;

    var controller = ViewContext.RouteData.Values["controller"] as string ?? "";
    var action = ViewContext.RouteData.Values["action"] as string ?? "";

    UserAuthorisationResult? userAuthResult = null;

    if (Context.Items.TryGetValue(UserAuthorisationResult.HttpContextKey, out var value))
    {
        if (value is UserAuthorisationResult result)
        {
            userAuthResult = result;
        }
    }

    var isNonAuthorisedPage = true;

    if (userAuthResult == null || userAuthResult.PageRequiresAuthorisation)
    {
        isNonAuthorisedPage = false;
    }

    @* Conditionally show the change school partial on all pages except for specific pages in the exclusion list for MAT's*@
    if (!string.IsNullOrWhiteSpace(selectedSchool)
        && CurrentUser.IsAuthenticated
        && CurrentUser.IsMat)
    {
        if (isNonAuthorisedPage)
        {
            showChangeSchool = true;
        }
        else
        {
            @* Controller actions where change-school option won't be shown *@
            var excluded = new Dictionary<string, HashSet<string>>(StringComparer.OrdinalIgnoreCase)
            {
                {
                    "ReviewAnswers", new HashSet<string>(
                        [nameof(ReviewAnswersController.CheckAnswers)],
                        StringComparer.OrdinalIgnoreCase)
                },
                {
                    "Questions", new HashSet<string>(
                        [
                            QuestionsController.GetQuestionBySlugAction,
                            nameof(QuestionsController.SubmitAnswer)
                        ],
                        StringComparer.OrdinalIgnoreCase)
                },
                {
                    "Groups", new HashSet<string>(
                        [GroupsController.GetSelectASchoolAction],
                        StringComparer.OrdinalIgnoreCase)
                },
            };

            showChangeSchool =
                !(excluded.TryGetValue(controller, out var actions) && actions.Contains(action));
        }
    }
}

@section Header {
    <partial name="GoogleTagManager/_Body" />
    <partial name="CookiesBanner/_CookieBanner" />
    <partial name="_Header" />

    <div class="govuk-width-container">
        <partial name="BetaHeader" />
        @await RenderSectionAsync("NavButton", required: false)
    </div>
}

@section BeforeContent {
    <partial name="_BeforeContent" />

    @if (showChangeSchool)
    {
        <partial name="ChangeSchool" model="selectedSchool" />
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @await RenderSectionAsync("Panel", required: false)

        @RenderBody()
    </div>

    <div class="govuk-grid-column-one-third-from-desktop govuk-float-right">
        @await RenderSectionAsync("RelatedActions", required: false)
    </div>
</div>

@section Footer {
    <partial name="_Footer" />
}

@section BodyEnd {
    <partial name="_BodyEnd" />
    @await RenderSectionAsync("BodyEnd", required: false)
}
