@model ComponentBannerEntry

@{
    var hasTimeFrame = Model.StartDate == null || Model.EndDate == null;
    var withinTimeFrame = DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate;
    if (withinTimeFrame || hasTimeFrame)
    {
        <div class="dfe-feedback-banner">

            <div class="govuk-width-container">

                <div class="govuk-grid-row dfe-feedback-banner--content align-items-center">

                    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
                        <p class="govuk-!-margin-bottom-3 govuk-!-margin-top-3 govuk-!-font-weight-bold">@Model.Text</p>
                    </div>

                    <div class="govuk-grid-column-one-third govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-text-align-right">
                        @if (Model.HasButton)
                        {
                            <a class="govuk-button govuk-button--blue" href="@Model.Url" target="_blank">
                                @Model.ButtonText
                            </a>
                        }
                    </div>
                

                </div>

            </div>

            
        </div>
    }
}
