@model string

<div class="school-ident">
    <div class="school-ident-content">
        <h2 class="govuk-heading-s school-ident-name">@Model</h2>
        <a class="govuk-link" href="/groups/select-a-school">Change school</a>
    </div>
</div>
