@{
    var isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}

@if (isAuthenticated)
{
    <a href="/self-assessment" class="govuk-home-link">Home</a>
}
else
{
    <a href="/" class="govuk-home-link">Home</a>
}