@{
    var isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    var href = isAuthenticated ? UrlConstants.HomePage : "/";
}

@if (isAuthenticated)
{
    <a href=@href class="govuk-home-link">Home</a>
}
