@using Dfe.PlanTech.Application.Constants
@{
    var isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    var href = isAuthenticated ? UrlConstants.SelfAssessmentPage : "/";
}

@if (isAuthenticated)
{
    <a href=@href class="govuk-home-link">Home</a>
}
