@model NotifyShareResultsViewModel

@{
    ViewData[StatePassingMechanismConstants.Title] = "Sorry, there was a problem";
    var actionModel = Model.ActionModel;

    var errorResults = Model.SendResults.Where(result => result.Errors.Count > 0).ToList();
    var successResults = Model.SendResults.Where(result => result.Errors.Count == 0).ToList();

    var statusMessage = errorResults.Count > 0 && successResults.Count == 0
        ? "Emails have not been sent to any recipients."
        : "Emails have only been sent to some recipients.";
}

<h1 class="govuk-heading-xl">Sorry, there was a problem</h1>

<p class="govuk-body govuk-!-margin-bottom-6">
    @statusMessage Check email addresses and try again.
</p>
@if (errorResults.Any())
{
    <p class="govuk-body">
        Emails failed to send to:
        <ul>
            @foreach (var result in errorResults)
            {
                <li>@result.Recipient</li>
            }
        </ul>
    </p>
}

@if (successResults.Any())
{
    <p class="govuk-body">
        Emails were successfully sent to:
        <ul>
            @foreach (var result in successResults)
            {
                <li>@result.Recipient</li>
            }
        </ul>
    </p>
}
<p>
    @Html.ActionLink(actionModel.LinkText, actionModel.ActionName, actionModel.ControllerName, actionModel.RouteValues)
</p>
