<div class="noprint js-only">
    <button class="govuk-link print-button govuk-!-font-size-16" id="print-page-button">Print this page</button>
</div>

<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("print-page-button").addEventListener("click", printPage);

    function printPage() {
        window.print();
    }
</script>
