@using Microsoft.IdentityModel.Tokens
@model ServiceUnavailableViewModel
@{
    ViewData["Title"] = "Service Unavailable";
}

<h1 class="text-danger">Sorry, there is a problem with this service</h1>
<p class="text-danger">You’ll need to try again later.</p>
@if (!string.IsNullOrEmpty(Model?.ContactHref))
{
    <p class="text-danger">
        You can also <a href="@Model.ContactHref" target="_blank" class="govuk-link">contact our support team</a>
    </p>
}
@if (Model?.ShowRequestId == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}
