@model GroupsSchoolDashboardViewModel

@section DfePageHeaderInnerFullWidth {
	<div class="govuk-grid-column-two-thirds">
		<partial name="Components/PageComponentFactory" model="@Model.Title" />
	</div>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<p>
			You are viewing @Model.SchoolName's status.</>
			@if (Model.Content != null)
			{
				ViewData["PageSlug"] = Model.Slug;

				foreach (var content in Model.Content)
				{
				<p class="govuk-!-margin-top-5"></p>
				<partial name="Components/PageComponentFactory" model="content" />
			}
		}
	</div>
</div>
