@using Dfe.PlanTech.Application.Providers.Interfaces
@inject IMicrocopyProvider Microcopy
@model GroupsSelectSchoolsToAssessViewModel

@{
    ViewData[StatePassingMechanismConstants.Title] = "Select schools";
}
<p>Hello world</p>
