@model GroupsSchoolDashboardViewModel

@section DfePageHeaderInnerFullWidth {
	<div class="govuk-grid-column">
		<div class="school-ident">
			<div class="school-ident-content">
				<h2 class="govuk-heading-s school-ident-name">@Model.SchoolName</h2>
				<a class="govuk-link" href="select-a-school">Change school</a>
			</div>
		</div>
	</div>

    <div class="govuk-grid-column-two-thirds">
        @foreach (var content in Model.BeforeTitleContent)
        {
            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
        }
        <partial name="Components/PageComponentFactory" model="@Model.Title"/>
    </div>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<p>
			You are viewing @Model.SchoolName's status.
			@if (Model.Content != null)
			{
				ViewData["PageSlug"] = Model.Slug;

				foreach (var content in Model.Content)
				{
				<p class="govuk-!-margin-top-5"></p>
				<partial name="Components/PageComponentFactory" model="content" />
			}
		}
	</div>
</div>
