@model Dfe.PlanTech.Web.Models.GroupsRecommendationsViewModel

<div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
    <p class="govuk-body">
        <a class="govuk-link" href="@Model.Slug/print">View and print all recommendations</a>
    </p>
</div>
