@model Dfe.PlanTech.Domain.Content.Models.RichTextContent;

@{
    if (Model.Data == null || string.IsNullOrEmpty(Model.Data.Uri))
    {
        throw new Exception("Hyperlink has no URI");
    }

    var linkText = Model.Content.Select(content => content.Value).FirstOrDefault();
}

<a class="govuk-link" href=@Model.Data!.Uri>@linkText</a>