@model IEnumerable<Dfe.PlanTech.Domain.Questionnaire.Interfaces.IHeaderWithContent>

<nav class="dfe-vertical-nav">
    <h2 class="dfe-vertical-nav__theme govuk-heading-m">List of actions</h2>
    <ul class="dfe-vertical-nav__section govuk-!-padding-left-0">
        @foreach (var chunk in Model)
        {
            var classes = chunk.SlugifiedHeader == ViewData["VerticalNavigationSection"]?.ToString()
                ? "dfe-vertical-nav__link--selected"
                : "";

            <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link @classes" href="#@chunk.SlugifiedHeader">@chunk.HeaderText</a>
            </li>
        }
    </ul>
</nav>
