@model RecommendationsViewModel

<div class="govuk-grid-column-one-third govuk-float-right">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break govuk-section-break--visible custom-hr-blue">
    <h2 class="govuk-heading-m govuk-!-padding-top-4">Related actions</h2>

	<partial name="Print" model="@Model" />
</div>
