@model IEnumerable<Dfe.PlanTech.Domain.Questionnaire.Interfaces.IHeaderWithContent>

<nav class="dfe-vertical-nav">
    <div class="dfe-vertical-nav__back-button govuk-!-margin-bottom-2">
        <a href="/self-assessment" class="govuk-back-link noprint">Go to self-assessment topics</a>
    </div>
    <h2 class="dfe-vertical-nav__theme govuk-heading-m">Your action Plan</h2>
    <ul class="dfe-vertical-nav__section govuk-!-padding-left-0">
        @foreach (var content in Model)
        {
            var classes = content.SlugifiedLinkText == ViewBag.VerticalNavigationSection?.ToString()
            ? "dfe-vertical-nav__link--selected"
            : "";

            <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link @classes" href="#@content.SlugifiedLinkText">@content.LinkText</a>
            </li>
        }
    </ul>
</nav>
