@model Dfe.PlanTech.Domain.Content.Models.Page;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{
            if(Model.DisplaySectionTitle){
                <h2>@Model.SectionTitle</h2>
            }
            
            if(Model.Title != null){
                await Html.RenderPartialAsync("Components/Title", Model.Title);
            }
 
            foreach(var content in Model.Content){
                await Html.RenderPartialAsync("Components/PageComponentFactory", content);
            }
        }
    </div>
</div>