@model Dfe.PlanTech.Web.Models.PageViewModel;

@section BeforeContent {
    @if (Model.Page.DisplayBackButton)
    {
        await Html.RenderPartialAsync("BackButton", Model);
    }
    @if (Model.Page.DisplayHomeButton)
    {
        await Html.RenderPartialAsync("HomeButton", Model);
    }
}
@{
    if (TempData.ContainsKey("SectionName"))
    {
        if (Model.Page.Slug == "self-assessment")
        {
            var sectionName = TempData["SectionName"] as string;
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        You have one new recommendation for @sectionName
                    </h3>
                </div>
            </div>
        }
    }
    
    if(Model.Page.Slug == "self-assessment")
    {
        <span class="govuk-caption-xl">@Model.OrganisationName</span>
    }
    
    await Html.RenderPartialAsync("Components/Page", Model.Page);
}