@model Dfe.PlanTech.Domain.Questionnaire.Models.Question

<form asp-controller="Questionnaire" asp-action="SubmitAnswer" method="post">
    <input id="QuestionId" hidden value=@Model.Sys.Id  name="QuestionId" />
    <govuk-radios name="AnswerId">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.Text
            </govuk-radios-fieldset-legend>
            
            @if(!string.IsNullOrEmpty(Model.HelpText)){
                <govuk-radios-hint>@Model.HelpText</govuk-radios-hint>
            }
            
            @{
                foreach(var answer in Model.Answers){
                    <govuk-radios-item value=@answer.Sys.Id>@answer.Text</govuk-radios-item>
                }
            }
            
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">Save and continue</govuk-button>
</form>