@model CategoryLandingPageViewModel
@inject ICurrentUser CurrentUser

@{
	var schoolName = await CurrentUser.GetActiveEstablishmentNameAsync();

	if (Model.Category.Header.Text != null)
	{
		ViewData["Title"] = $"{Model.Category.Header.Text} standard - print view";
	}
	else
	{
		var routeData = Context.GetRouteData();
		ViewData["Title"] = routeData.GetTitleForPage();
	}
}

@section NavButton {
	@{
		await Html.RenderPartialAsync("BackButton");
	}
}

@{
	await Html.RenderPartialAsync("PrintButton", Model);
}

<span class="govuk-caption-xl">@schoolName</span>
<h1 class="govuk-heading-xl">@Model.Category.Header.Text</h1>

@if (!string.IsNullOrWhiteSpace(Model.SectionName))
{
	<partial name="Components/PageComponentFactory" model="@(new ComponentTitleEntry(Model.SectionName))" />
}

@await Component.InvokeAsync("CategoryLanding", new {
	category = Model.Category,
	slug = Model.Slug,
	sectionName = Model.SectionName,
	sortOrder = Model.SortOrder,
	print = true
})
