@inject IMicrocopyProvider Microcopy
@model CategoryLandingPageViewModel

@section NavButton {
    <govuk-back-link id="category-back-link" href="@UrlConstants.HomePage" class="noprint js-only">
        @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.LandingPageBackLink)
    </govuk-back-link>
}

@section RelatedActions {
    @if (Model.RelatedActions.Any())
    {
        <hr class="govuk-section-break govuk-section-break--visible custom-hr-blue">

        <h2 class="govuk-heading-m govuk-!-padding-top-4">
            Related actions
        </h2>

        @foreach (var action in Model.RelatedActions)
        {
            <p class="govuk-body-s">
                <a class="govuk-link" href="@action.Url">
                    @action.Text
                </a>
            </p>
        }
    }
}

@foreach (var content in Model.BeforeTitleContent)
{
    await Html.RenderPartialAsync("Components/PageComponentFactory", content);
}

@await Component.InvokeAsync("CategoryLanding", new {
    category = Model.Category,
    slug = Model.Slug,
    sectionName = Model.SectionName,
    sortOrder = Model.SortOrder,
})

@section AfterContent {
    @foreach (var content in Model.AfterContentContent)
    {
        if (Model.HasBanner && content.GetType() == typeof(ComponentBannerEntry))
        {
            await Html.RenderPartialAsync("Banner", content);
        }
        else
        {
            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
        }
        
    }
}
