@model CategoryLandingPageViewModel

@section DfePageHeaderOuter {
    <govuk-back-link id="category-back-link" href="@UrlConstants.HomePage" class="noprint js-only">
        Back to choose a standard
    </govuk-back-link>
}

@section DfePageHeaderInner {
    <span class="govuk-caption-xl">How to meet the standard</span>
    <partial name="Components/PageComponentFactory" model="@Model.Title" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Component.InvokeAsync("CategoryLanding", new { category = Model.Category, slug = Model.Slug, Model.SectionName })
    </div>
</div>
