@using Dfe.PlanTech.Domain.Questionnaire.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PlanTech.Web.Models.HeaderContentViewModel

@{
    var header = Model.Header;
    var submissionDate = Model.SubmissionDate;
    var sectionName = Model.SectionName;
    var recommendationCount = Model.RecommendationCount;
    var viewCount = Model.CurrentRecommendationNumber;
}

<div class="recommendation-piece-content">
    <a href="/self-assessment"
       class="govuk-back-link back-link-top-override govuk-!-margin-top-3">
        Back to digital leadership and governance
    </a>
    @foreach (var content in header.Content)
    {
        <span class="govuk-caption-xl">Recommendation @viewCount of @recommendationCount</span>

        <h1 class="govuk-heading-xl">
            @header.HeaderText
        </h1>

        <partial name="Components/PageComponentFactory" model="@content" />
    }
</div>

@if (header is RecommendationChunk chunk && chunk.CSLink != null)
{
    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
        <a class="govuk-body govuk-link govuk-!-font-weight-bold" href=@chunk.CSLink.Url>@chunk.CSLink.LinkText</a>
    </div>
}
