@model HeaderContentViewModel

@{
    var header = Model.Header;
    var sectionName = Model.SectionName;
    var recommendationCount = Model.RecommendationCount;
    var viewCount = Model.CurrentRecommendationPageCount;
}

<div class="recommendation-piece-content">
    <span class="govuk-caption-xl">Recommendation @viewCount of @recommendationCount</span>

    <h1 class="govuk-heading-xl">
        @header?.HeaderText
    </h1>

    @foreach (var content in header?.Content ?? [])
    {
        <partial name="Components/PageComponentFactory" model="@content" />
    }
</div>

@if (header is CmsRecommendationChunkDto chunk && chunk.CSLink != null)
{
    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
        <a class="govuk-body govuk-link govuk-!-font-weight-bold" href=@chunk.CSLink.Url>@chunk.CSLink.LinkText</a>
    </div>
}
