@using Dfe.PlanTech.Domain.Questionnaire.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PlanTech.Domain.Questionnaire.Interfaces.IHeaderWithContent

<div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">

    <div class="recommendation-piece-content">
        @foreach (var content in Model.Content)
        {
            <partial name="Components/PageComponentFactory" model="@content" />
        }
    </div>
    @if (Model is RecommendationChunk chunk && chunk.CSLink != null)
    {
        <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
            <a class="govuk-body govuk-link govuk-!-font-weight-bold" href=@chunk.CSLink.Url>@chunk.CSLink.LinkText</a>
        </div>
    }
</div>>