@model IHeaderWithContent

<section class="dfe-page-header" aria-labelledby="recommendation-header-text">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <partial name="BetaHeader" />
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <div class="recommendation-piece-header">
                        <h1 class="govuk-heading-xl govuk-!-margin-top-8" id="recommendation-header-text">@Model.HeaderText</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
