@model Dfe.PlanTech.Web.Models.RecommendationsViewModel
@using Dfe.PlanTech.Domain.Questionnaire.Models;


@foreach (var headerWithContent in Model.AllContent)
{
    <div class="recommendation-piece-container" id="@headerWithContent.SlugifiedHeader">
        <div class="recommendation-piece-header">
            @{
                await Html.RenderPartialAsync("Components/Header", headerWithContent.Header);
            }
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                @{ ViewData["VerticalNavigationSection"] = headerWithContent.SlugifiedHeader; }
                <partial name="Components/VerticalNavigation/Default" model="@Model.Chunks"/>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-section-break govuk-!-margin-top-0 govuk-section-break--m govuk-section-break--visible">
                    <div class="recommendation-piece-content">
                        @foreach (var content in headerWithContent.Content)
                        {
                            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                        }
                    </div>
                </div>
                @if (headerWithContent is RecommendationChunk chunk)
                {
                    <div class="govuk-!-margin-bottom-3">
                        <a class="govuk-link govuk-!-font-weight-bold" href=@chunk.CSUrl target="_blank">
                            @chunk.CSLinkText
                        </a>
                    </div>
                }
                <div>
                    <h2 class="govuk-heading-m">Share this recommendation</h2>
                    <p class="govuk-body">
                        <img class="share-html-img" src="/assets/images/share-html.png" alt="Share HTML"/>
                        <a class="govuk-link govuk-!-font-weight-bold" href="@Model.Slug/print" target="_blank">Share or download this recommendation in a checklist format</a>
                        <br/>
                        <span>HTML</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}