@model RecommendationsViewModel

@{
    if (Model.SectionName != null)
    {
        ViewData["Title"] = $"{Model.SectionName} - print view";
    }
    else
    {
        var routeData = Context.GetRouteData();
        ViewData["Title"] = routeData.GetTitleForPage();
    }
}

@section BeforeContent {
    <govuk-back-link id="nonjs-back-button-link" href="@UrlConstants.RecommendationsPage" class="noprint non-js-only govuk-back-link">Home</govuk-back-link>
    <govuk-back-link id="back-button-link" href="@UrlConstants.RecommendationsPage" class="noprint js-only">
        Back
    </govuk-back-link>
}

<div class="recommendation-content">
    <div class="govuk-!-margin-bottom-2">
        @{
            await Html.RenderPartialAsync("PrintButton", Model);
        }
    </div>

    <div class="govuk-grid-row" id="checkYourAnswers-page">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            @if (Model.Chunks != null && Model.Chunks.Count == 1)
            {
                <partial name="SingleRecommendationPrint" model="@Model" />
            }
            else
            {
                <partial name="RecommendationPrintContent" model="@Model" />
            }
        </div>
    </div>
</div>
