<div class="govuk-form-group govuk-!-margin-top-5">
    <govuk-checkboxes name="recommendation-actions-checkboxes-@ViewData["RecommendationsActionsHeader"]">
        <govuk-checkboxes-fieldset>
            <govuk-checkboxes-fieldset-legend class="govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Notes
                </h2>
            </govuk-checkboxes-fieldset-legend>
            @{
                foreach (var answer in new List<string> { "Work on this action", "This action is implemented" })
                {
                    <govuk-checkboxes-item disabled="true" value="@answer">@answer</govuk-checkboxes-item>
                }
            }
        </govuk-checkboxes-fieldset>
    </govuk-checkboxes>
    <govuk-textarea name="recommendation-actions-textarea-@ViewData["RecommendationsActionsHeader"]" disabled="true">
        <govuk-textarea-label class="dfe-u-secondary-text-color">
            What have you done on this action?
        </govuk-textarea-label>
    </govuk-textarea>
</div>
