@using Dfe.PlanTech.Domain.Questionnaire.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Dfe.PlanTech.Domain.Questionnaire.Interfaces.IHeaderWithContent>

@{
    var counter = 0;
    foreach (var headerWithContent in Model)
    {
        if (headerWithContent is RecommendationIntro)
        {
            <partial name="Components/HeaderWithContent" model="@headerWithContent"/>
            <h2 class="govuk-heading-xl govuk-!-margin-top-6">Actions</h2>
            <p>The following is a list of actions generated from the questions we have asked and the responses given.</p>
        }
        else
        {
            <h3>@($"{++counter}. {headerWithContent.Header.Text}")</h3>
            <div class="recommendation-piece-content">
                @foreach (var content in headerWithContent.Content)
                {
                    await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                }
                <partial name="RecommendationActions"/>
            </div>
        }
    }
}
