@using Dfe.PlanTech.Domain.Helpers
@using Dfe.PlanTech.Domain.Interfaces
@model Dfe.PlanTech.Web.Models.RecommendationsViewModel
@inject ISystemTime SystemTime

@{
    Layout = "_PrintLayout";
    var currentTime = SystemTime.UkNow;
}

<div class="recommendation-content">
    <div class="dfe-header__logo print-header">
        <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo govuk-!-padding-bottom-2" alt="DfE Logo">
        <p class="govuk-body">Plan technology for your school</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <p class="govuk-!-margin-top-4 govuk-body" id="printed-date-time">Date and time this document was printed: @($"{DateTimeFormatter.FormattedDateLong(currentTime)} at {DateTimeFormatter.FormattedTime(currentTime)}")</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <div id="back-button-container" class="noprint">
        @{
            await Html.RenderPartialAsync("BackButton", Model);
        }
    </div>
    <div class="noprint govuk-!-margin-bottom-6 govuk-!-margin-top-4">
        <button class="govuk-link print-button govuk-!-font-size-16" id="recommendations-print-page">Print this page</button>
    </div>
    <partial name="RecommendationPrintContent" model="@Model.AllContent"/>
</div>


<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("recommendations-print-page").addEventListener("click", printPage);

    function printPage() {
        window.print();
    }
</script>
