@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

@section Header {
    <link rel="stylesheet" as="style" href="~/css/step-by-step.css">
}

@section BeforeContent
{
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<div class="recommendation-content">
    <partial name="RecommendationContent" model="@Model"/>
</div>
