@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

@section Header {
    <link rel="stylesheet" as="style" href="~/css/step-by-step.css">
}

@section BeforeContent
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/self-assessment">Technology self-assessment</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Model.Slug">@Model.Intro.Title</a>
            </li>
        </ol>
    </div>
}

<div class="recommendation-content">
    <partial name="RecommendationContent" model="@Model"/>
</div>
