@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

@{
    Layout = "_PrintLayout";
}

<div class="govuk-grid-row" id="top">
    <div class="govuk-grid-column-two-thirds recommendation-content print">
        <div class="dfe-header__logo print-header">
            <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo govuk-!-padding-bottom-2" alt="DfE Logo">
            <p class="govuk-body">Plan technology for your school</p>
        </div>
        <hr/>
        <p class="govuk-!-margin-top-4" id="printedDateTime">Date and time this document was printed: @($"{DateTime.Now:ddd MMM yyyy HH:mm:ss zzz}")</p>
        <hr/>
        <partial name="RecommendationPrintContent" model="@Model.AllContent"/>
    </div>
    <div class="govuk-grid-column-one-third noprint">
        <div id="recommendations-print-page" class="govuk-button govuk-button--inverse button-border print-button">
            <img class="print-img" src="/assets/images/print.png" alt="Print"/><br>
            Print
        </div>
        <div id="recommendations-close-page" class="govuk-button govuk-button--inverse button-border">
            Close
        </div>
    </div>
</div>


<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("recommendations-print-page").addEventListener("click", printPage);
    document.getElementById("recommendations-close-page").addEventListener("click", closePage);

    function printPage() {
        window.print();
    }
    function closePage() {
        window.close();
    }
</script>