@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

<div class="govuk-grid-row" id="top">
    <div class="govuk-grid-column-two-thirds recommendation-content print">
        <partial name="RecommendationPrintContent" model="@Model.AllContent" />
    </div>
    <div class="govuk-grid-column-one-third noprint">
        <govuk-button class="govuk-button--inverse govuk-!-width-one-half" id="recommendations-print-page">
            <img class="govuk-!-width-full" src="/assets/images/print.png" alt="print"/>
            Print
        </govuk-button>
        <govuk-button class="govuk-button--inverse govuk-!-width-one-half" id="recommendations-close-page">
            Close
        </govuk-button>
    </div>
</div>


<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("recommendations-print-page").addEventListener("click", printPage);
    document.getElementById("recommendations-close-page").addEventListener("click", closePage);

    function printPage() {
        window.print();
    }
    function closePage() {
        window.close();
    }
</script>
