@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

<div class="govuk-grid-row" id="top">
    <div class="govuk-grid-column-two-thirds recommendation-content print">
        <partial name="RecommendationPrintContent" model="@Model.AllContent" />
    </div>
    <div class="govuk-grid-column-one-third noprint">
        <div id="recommendations-print-page" class="govuk-button govuk-button--inverse button-border print-button">
            <img class="print-img" src="/assets/images/print.png" alt="Print"/><br>
            Print
        </div>
        <div id="recommendations-close-page" class="govuk-button govuk-button--inverse button-border">
            Close
        </div>
    </div>
</div>


<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("recommendations-print-page").addEventListener("click", printPage);
    document.getElementById("recommendations-close-page").addEventListener("click", closePage);

    function printPage() {
        window.print();
    }
    function closePage() {
        window.close();
    }
</script>
