@using Dfe.PlanTech.Domain.Helpers
@using Dfe.PlanTech.Web.Helpers
@model Dfe.PlanTech.Web.Models.RecommendationsViewModel

<div id="checkYourAnswers-page">
    <p>
        The self-assessment for roles and responsibilities was completed on <strong>@Model.LatestCompletionDate</strong>.
        You can change your answers at any time.
    </p>

    <h2 class="govuk-heading-l">@Model.SectionName</h2>

    <hr class="govuk-section-break govuk-section-break--visible">

    <dl class="govuk-summary-list">
        @foreach (var questionWithAnswer in Model.SubmissionResponses)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key spacer govuk-!-margin-top-4">
                    @questionWithAnswer.QuestionText
                </dt>
                <dd class="govuk-summary-list__value spacer govuk-!-margin-bottom-4">
                    @questionWithAnswer.AnswerText
                </dd>
            </div>
        }
    </dl>

    <a href="/@Model.SectionName.Slugify()/change-answers" role="button" draggable="false"
       class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
        Change your answers
    </a>
</div>
