@model RichTextContentItem

<ul class="govuk-list govuk-list--bullet">
        @foreach (var item in Model.Content) 

        {
                if(item.NodeType == RichTextNodeType.ListItem)
                {
                    <li>
                        <partial name="RichText/_Items" model="@item"/>
                    </li>
                }
        }
</ul>