@model Hyperlink

@{
    var vimeoId = Model.Uri.Split('/').Last();
}

<div class="column-full vimeo-player">
    <iframe src="https://player.vimeo.com/video/@vimeoId" width="640" height="360"
        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="embedded vimeo clip"></iframe>
</div>
