.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__items {
  max-width: 44em;
}

.app-task-list__section {
  display: table;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

/**
@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}
**/
.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

@media (max-width: 28.125em) {
  .app-task-list__tag,
  .app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

#checkYourAnswers-page .spacer {
  content: " " !important;
  display: block;
}

@media (min-width: 40.0625em) {
  #checkYourAnswers-page .govuk-summary-list__key {
    width: 100%;
  }

  #checkYourAnswers-page .govuk-summary-list__actions {
    width: 0;
  }
}

#checkYourAnswers-page dl.govuk-summary-list.govuk-\!-margin-bottom-9 {
  border-top: 1px solid #b1b4b6;
}

#checkYourAnswers-page .govuk-heading-xl {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

div.recommendation-content > #checkYourAnswers-page {
    padding-top: 20px !important;
}
