.mobile-reorder {
	display: flex;
	flex-direction: column;
}

.related-actions {
	order: -1; /* show first on mobile */
}

/* Desktop and up */
@media (min-width: 40.0625em) {
	.mobile-reorder {
		flex-direction: row;
	}

	.related-actions {
		order: 2;
	}

	.main-content {
		order: 1;
	}
}
