/* HOMEPAGE HERO BANNER ----------------------- */
.app-section-beta {
  padding: 30px 0;
}

.app-section-beta__blue {
  background-color: #347ca9;
}

.body-header-font {
  color: white;
}

section.dfe-page-header{
  background-color: #ebf2f6;
  margin-top: 0px;
}

div.dfe-page-header-inner {
  padding-top: 15px;
  padding-bottom: 0;
}
