@use "../../node_modules/dfe-frontend-alpha/packages/dfefrontend.scss";

* {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif !important;
}

.logo {
  display: block;
  max-height: 32px;
  max-width: 100%;
}

.govuk-table {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.govuk-home-link {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

//Remove the padding from paragraphs within lists
li {
  p.govuk-body {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

div.govuk-width-container {
  @extend .dfe-width-container;
}

strong.govuk-tag {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

//Hide GTM iframe
iframe {
  display: none;
}
