@use "../../node_modules/dfe-frontend/packages/dfefrontend.scss";

.logo {
    display: block;
    max-height: 32px;
    max-width: 100%;
}

.govuk-table {
    margin-top: 30px;
    margin-bottom: 30px;
}

a.govuk-home-link {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

//Remove the padding from paragraphs within lists
li > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.govuk-width-container {
    @extend .dfe-width-container;
}

strong.govuk-tag {
    max-width: fit-content;
    vertical-align: middle;

    &:first-letter {
        text-transform: uppercase;
    }
}

@media (min-width: 40.0625em) {
    .dfe-self-assessment-list {
        > .govuk-summary-list__row {
            height: 4rem;
        }
    }
}

// MAT View Dashboard Topic List
.dfe-mat-self-assessment-list {
    .govuk-task-list__item {
        height: 2.7rem;
    }

    .govuk-task-list__name-and-hint,
    .govuk-task-list__status {
        vertical-align: middle;
    }

    .govuk-tag {
        white-space: nowrap;

        @media (max-width: 350px) {
            white-space: normal;
        }
    }

    .govuk-task-list__item:first-child {
        border-top: none;
    }
}


.govuk-summary-list__key,
.govuk-summary-list__value {
    vertical-align: middle;

    > .govuk-button {
        vertical-align: middle;
    }
}

.dfe-header {
    border-bottom: 10px solid #347ca9;
}

.share-html-img {
    width: 100px;
    float: left;
    padding-right: 10px;
}

//Hide GTM iframe
iframe {
    display: none;
}

.whitespace-preline {
    white-space: pre-line;
}

button.govuk-button--white {
    background-color: white;
}

.js-only {
    display: none !important;
    visibility: hidden !important;
}

.school-button {
    font-size: 24px;
    background-color: #ffffff;
    color: #1d70b8;
    padding-left: 0px;
    box-shadow: none !important;
    text-decoration: underline 1px !important;
    text-underline-offset: 4px;
    font-weight: bold !important;
    margin-bottom: 8px;
}

.school-button:hover {
    color: #003078;
    background-color: #ffffff;
    text-decoration-thickness: 2px !important;
}

.school-ident {
    background-color: #ebf2f6;
    padding: 20px 0;
    margin-bottom: 0px;
}

.dfe-page-header-inner {
    > .school-ident {
        padding-top: 0px;
    }
}

.school-ident-content {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.school-ident-name {
    display: inline-block !important;
    padding-top: 0 !important;
    margin: 0 10px 0 0;
}

.groups-list-tag {
    padding-right: 0px !important;
}

.groups-recommendation-piece-header {
    padding-top: 32px;
    padding-bottom: 16px;
}

.groups-recommendation-piece-header {
    > h1.govuk-heading-xl {
        padding-top: 0px !important;
    }
}
