@media print {
  .noprint {
    display: none;
  }
  .print {
    width: 100%;
  }
}

.button-border {
  box-shadow: None;
  border: 1px solid dimgrey;
  margin: 20px;
  width: 120px;
  padding: 10px;
  height: auto;
  display: block;

  > img {
    height: 60px;
    padding-bottom: 10px;
  }
}

.print-header {
  float: none
}
