@media print {
  .noprint {
    display: none !important;
  }
  .print {
    width: 100%;
  }
}

.print-header {
  float: none
}

.print-button {
    background: url(/assets/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
}
