@import "../../node_modules/govuk-frontend/dist/govuk/index.scss";

//Step-by-step navigation pattern. See https://design-system.service.gov.uk/patterns/step-by-step-navigation/
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation.scss";
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation-related.scss";
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation-header.scss";

html {
  scroll-behavior: smooth;
}

.recommendation-content {
  &:not(:has(:target)){
    .recommendation-piece-container:first-child{
      display: block;
    }
  }
}

.recommendation-piece-container {
  display: none;

  &:target{
    display: block;
  }
}

.app-step-nav__panel {
  padding-bottom: 0px;
}

.app-step-nav__list {
  margin-bottom: 0px;
}

.govuk-pagination--block .govuk-pagination__prev {
  margin-bottom: 10px;
}

@media screen {
    .govuk-pagination__link:after {
        position: relative;
    }
}
