@import "../../node_modules/govuk-frontend/dist/govuk/all.scss";

//Step-by-step navigation pattern. See https://design-system.service.gov.uk/patterns/step-by-step-navigation/
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation.scss";
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation-related.scss";
@import "../../node_modules/@govuk-prototype-kit/step-by-step/sass/_step-by-step-navigation-header.scss";

/*
  ViewData["ParentContainerClass"] = "recommendation-piece-container";
  ViewData["HeaderClass"] = "recommendation-piece-header";
  ViewData["ContentClass"] = "recommendation-piece-content";
*/

html {
  scroll-behavior: smooth;
}

.recommendation-content {
    &:not(:has(:target)){
      .recommendation-piece-container:first-child{
        display: block;
      }
    }
}

.recommendation-piece-container {
  display: none;

  &:target{
    display: block;
  }
}

.recommendation-piece-header {

}

.recommendation-piece-content {

}

$scrollLength: 120vh;

.app-back-to-top{ 
  // uncomment to visualize "track"
  // outline: 1px solid red;
  position: absolute;
  top: $scrollLength;
  right: 0.25rem;
  bottom: -5em;
  pointer-events: none;

  .app-back-to-top__link { 
    position: fixed;
    // @link https://caniuse.com/#search=position%3A%20sticky
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);


  }
}

main {
  // required to make sure the `absolute` positioning of
  // the anchor wrapper is indeed `relative` to this element vs. the body
  position: relative;
}