:root {
  --govuk-link-color: #1d70b8;
  --govuk-black: #0b0c0c;
}

.dfe-vertical-nav__section-item {
  list-style-type: none;
  font-size: 1rem;
}

.dfe-vertical-nav__link {
  display: block;
  padding: 7px 30px 8px 10px;
  border-left: 4px solid #b1b4b6;
  text-decoration: none;
}

.dfe-vertical-nav__link--selected {
  border-left: 4px solid var(--govuk-link-color);
  background-color: #f3f2f1;
  font-weight: bold;
}

.dfe-vertical-nav__link,
.dfe-vertical-nav__link--selected {
  &:visited {
    color: var(--govuk-link-color);
  }

  &:active, &:hover {
    background-color: #fd0;
    color: var(--govuk-black);
    border-left: 4px solid var(--govuk-black);
    font-weight: normal;
  }
}

.dfe-vertical-nav__theme {
  border-top: 1px solid var(--govuk-link-color);
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 0;
}
