@model Dfe.PlanTech.Web.Models.QuestionViewModel

@section Header {
    <govuk-back-link href=@Model.BackUrl />
}

<form asp-controller="Questions" asp-action="SubmitAnswer" method="post">
    <input id="QuestionId" hidden value=@Model.Question.Sys.Id  name="QuestionId" />
    <govuk-radios name="NextQuestionId">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.Question.Text
            </govuk-radios-fieldset-legend>
            
            @if(!string.IsNullOrEmpty(Model.Question.HelpText)){
                <govuk-radios-hint>@Model.Question.HelpText</govuk-radios-hint>
            }
            
            @{
                foreach(var answer in Model.Question.Answers){
                    var nextQuestionId = answer.NextQuestion?.Sys.Id ?? "";
                    <govuk-radios-item value=@nextQuestionId>@answer.Text</govuk-radios-item>
                }
            }
            
        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">Save and continue</govuk-button>
</form>