@using GovUk.Frontend.AspNetCore.TagHelpers

<div class="dfe-section-card">
    <h1 class="govuk-heading-m">Share this question</h1>
    <div id="link-sharing-container">
        <govuk-input id="question-link" name="questionLink" type="url" value="@Model" input-readonly="true">
            <govuk-input-label>Copy the link to share this question with team members who can help</govuk-input-label>
        </govuk-input>
        <govuk-button id="question-link-copy-button" class="js-only govuk-visually-hidden govuk-button--white" aria-hidden="true">Copy link to clipboard</govuk-button>
    </div>
</div>
