@using GovUk.Frontend.AspNetCore.TagHelpers

<div class="dfe-section-card">
    <govuk-input id="question-link" name="questionLink" type="url" value="@Model" input-readonly="true">
        <govuk-input-label class="govuk-heading-m">Share a link to this question</govuk-input-label>
        <govuk-input-hint>You can do this by coping the following link</govuk-input-hint>
    </govuk-input>
    <govuk-button id="question-link-copy-button" class="govuk-button--white">Copy link to clipboard</govuk-button>
</div>


<script defer nonce="@Context.Items["nonce"]">
    document.getElementById("question-link-copy-button").addEventListener("click", copyLink);

    function copyLink() {
        navigator.clipboard.writeText("@Model");
    }
</script>
