@model GroupsDashboardViewComponentViewModel

<div class="dfe-mat-self-assessment-list">
    <ul class="govuk-task-list">
        <li class="govuk-task-list__item">
            <div class="govuk-task-list__name-and-hint">
                <strong>Topic recommendations</strong>
            </div>
            <div class="govuk-task-list__status">
                <strong>Self-assessment status</strong>
            </div>
        </li>
        @foreach (var groupsCategorySection in Model.GroupsCategorySections)
        {
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                @if (groupsCategorySection.Slug != null)
                {
                    @if (!string.IsNullOrEmpty(groupsCategorySection.RecommendationSlug))
                    {
                        <div class="govuk-task-list__name-and-hint">
                            <partial name="Components/GroupsDashboard/GroupsSubtopicRecommendations"
                                     model="@groupsCategorySection.Recommendation"/>
                        </div>
                    }
                    else
                    {
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-task-list">
                                @groupsCategorySection.Name
                            </a>
                        </div>
                    }
                    <div class="govuk-task-list__status">
                        <task-list-tag colour=@groupsCategorySection.Tag.Colour>
                            @groupsCategorySection.Tag.Text
                        </task-list-tag>
                    </div>
                }
                else
                {
                    <div class="govuk-task-list__status">
                        <govuk-error-message>@groupsCategorySection.ErrorMessage</govuk-error-message>
                    </div>
                }
            </li>
        }
    </ul>
</div>
