@model CategorySectionRecommendationViewModel


@if (Model.NoRecommendationFoundErrorMessage != null)
{
    <govuk-error-message>@Model.NoRecommendationFoundErrorMessage</govuk-error-message>
}
else if (Model.SectionSlug != null)
{
    <a asp-controller="Groups" asp-action="GetGroupsRecommendation" asp-route-sectionSlug="@Model.SectionSlug" class="govuk-link">
        @Model.SectionName
    </a>
}
