@model IEnumerable<(Dfe.PlanTech.Domain.Questionnaire.Models.RecommendationPage? Recommendation, string SectionName)>

<task-list>
    @foreach (var recommendationWithSectionName in Model)
    {
        <task-list-item>
            <task-list-item-name>
                @if (recommendationWithSectionName.Recommendation != null)
                {
                    <a asp-controller="Pages" asp-action="GetByRoute"
                        asp-route-route="@recommendationWithSectionName.Recommendation.Page?.Slug" class="govuk-link">
                        @recommendationWithSectionName.Recommendation.DisplayName
                    </a>
                }
                else
                {
                    var errorMessage = string.Format("Unable to retrieve {0} recommendation",
                    recommendationWithSectionName.SectionName);
                    <govuk-error-message>@errorMessage</govuk-error-message>
                }
            </task-list-item-name>
        </task-list-item>
    }
</task-list>