@model Dfe.PlanTech.Domain.Content.Interfaces.IAccordion

<div class="app-step-nav__header js-toggle-panel" data-position="@Model.Order">
  <h3 class="app-step-nav__title">
    <span class="app-step-nav__circle app-step-nav__circle--number">
      <span class="app-step-nav__circle-inner">
        <span class="app-step-nav__circle-background">
          <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>@Model.Order<span
            class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
        </span>
      </span>
    </span>
    <span class="js-step-title">
      @Model.Title
    </span>
  </h3>
</div>

<div class="app-step-nav__panel js-panel js-hidden">
  <ol class="app-step-nav__list " data-length="3">
    <li class="app-step-nav__list-item js-list-item ">
      <a class="app-step-nav__link js-link" href="#@Model.Slug">
        @Model.Header
      </a>
    </li>
  </ol>
</div>