@model IEnumerable<Dfe.PlanTech.Domain.Content.Interfaces.IAccordion>

<div class="accordion-parent">
    <div data-module="appstepnav" id="step-by-step-navigation"
        class="app-step-nav govuk-!-display-none-print app-step-nav--active" data-show-text="Show" data-hide-text="Hide"
        data-show-all-text="Show all actions" data-hide-all-text="Hide all steps">
        <ol class="app-step-nav__steps">
            @foreach (var accordion in Model)
            {
                <li class="app-step-nav__step js-step" aria-current="step">
                    <partial name="Components/Accordion/AccordionSegment" model="@accordion" />
                </li>
            }
        </ol>
    </div>
</div>