@model IEnumerable<Dfe.PlanTech.Domain.Content.Interfaces.IAccordion>

<div class="govuk-grid-column-one-third">
    
    <div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all actions" data-hide-all-text="Hide all steps">
        <div class="app-step-nav__controls govuk-!-display-none-print">
            <button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button">
                <span class="app-step-nav__chevron js-step-controls-button-icon app-step-nav__chevron--down"></span><span class="app-step-nav__button-text app-step-nav__button-text--all js-step-controls-button-text">Show all actions</span>
            </button>
        </div>
        <ol class="app-step-nav__steps">
            @foreach (var accordion in Model)
            {
                <li class="app-step-nav__step js-step" aria-current="step">
                    <div class="app-step-nav__header js-toggle-panel">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>@accordion.Order<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false">
                                    <span class="app-step-nav____title-text-focus">
                                        <span class="app-step-nav__title-text js-step-title-text">
                                            @accordion.Header
                                        </span><span class="govuk-visually-hidden app-step-nav__section-heading-divider">, </span>
                                    </span>
                                    <span class="app-step-nav__toggle-link js-toggle-link govuk-!-display-none-print">
                                        <span class="app-step-nav__toggle-link-focus">
                                            <span class="app-step-nav__chevron js-toggle-link-icon app-step-nav__chevron--down"></span><span class="app-step-nav__button-text js-toggle-link-text">Show</span>
                                        </span>
                                    </span>
                                </button>
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden">
                        <ol class="app-step-nav__list " data-length="3">
                            <li class="app-step-nav__list-item js-list-item ">
                                <a class="app-step-nav__link js-link" href="@accordion.Link">
                                    @accordion.Link
                                </a>
                            </li>
                        </ol>

                    </div>
                </li>
            }
        </ol>
    </div>
</div>