URL=https://localhost:8080/-or-url-to-test/staging-environment
DSI_SCHOOL_EMAIL=test@test.com
DSI_SCHOOL_PASSWORD=password-here
DSI_SCHOOL_ESTABLISHMENT_REF=establishment-ref-here-for-school-sign-on
DSI_MAT_EMAIL=test@test.com
DSI_MAT_PASSWORD=password-here
DSI_MAT_ESTABLISHMENT_REF=establishment-ref-here-for-mat-school-sign-on
DSI_NOORG_EMAIL=test@test.com
DSI_NOORG_PASSWORD=password-here
HEADLESS=false
DB_USER=user
DB_PASSWORD=password
DB_SERVER=server - localhost/url
DB_PORT=1433 - localhost only
DB_DATABASE=databasename
DB_MODE=azure-or-sql

