URL=https://localhost:8080/
DSI_SCHOOL_EMAIL=test@test.com
DSI_SCHOOL_PASSWORD=password-here
DSI_MAT_EMAIL=test@test.com
DSI_MAT_PASSWORD=password-here
DSI_NOORG_EMAIL=test@test.com
DSI_NOORG_PASSWORD=password-here
HEADLESS=false
