@{
    string Convert(DateTime? dt) => dt!.Value.ToString("dd MMMM yyyy");
}
<div class="citation">
    <div class="gem-c-metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true" data-module="gem-toggle metadata">
        <dl class="gem-c-metadata__list" data-gem-track-click-module-started="true" data-module="gem-track-click">
            <dt class="gem-c-metadata__term">From:</dt>
            <dd class="gem-c-metadata__definition">
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
            </dd>
            <dt class="gem-c-metadata__term">Published:</dt><dd class="gem-c-metadata__definition">@Convert(Model.CreatedAt)</dd>
            <dt class="gem-c-metadata__term">Updated:</dt><dd class="gem-c-metadata__definition">@Convert(Model.UpdatedAt)</dd>
        </dl>
    </div>
</div>
