@model Dfe.PlanTech.Domain.Content.Models.ContentSupport.CSHeading

<div class="dfe-page-header">
    <div class="dfe-width-container">
        <partial name="BetaHeader" />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="dfefrontend-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-5">title</h1>
                <p class="govuk-body">subtitle</p>
            </div>
        </div>
    </div>
</div>
