@model Dfe.PlanTech.Domain.Content.Models.NotificationBanner;
@{
    if (!TempData.ContainsKey("SubtopicError"))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <govuk-notification-banner>
                    @{
                        await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Text);
                    }
                </govuk-notification-banner>
            </div>
        </div>
    }
}
