@model Dfe.PlanTech.Domain.Content.Models.Page;

@{
    foreach (var content in Model.BeforeTitleContent)
    {
        await Html.RenderPartialAsync("Components/PageComponentFactory", content);
    }

    if (Model.DisplayOrganisationName)
    {
        <span class="govuk-caption-xl">@Model.OrganisationName</span>
    }

    if (Model.DisplayTopicTitle)
    {
        <span class="govuk-caption-xl">@Model.SectionTitle</span>
    }

    if (Model.Title != null)
    {
        await Html.RenderPartialAsync("Components/Title", Model.Title);
    }

    foreach (var content in Model.Content)
    {
        await Html.RenderPartialAsync("Components/PageComponentFactory", content);
    }
}
