@model PageEntry

@{
    if (Model.DisplayTopicTitle)
    {
        <span class="govuk-caption-xl">@Model.SectionTitle</span>

    }

    foreach (var content in Model.Content ?? [])
    {
        await Html.RenderPartialAsync("Components/PageComponentFactory", content);
    }
}
