@model Dfe.PlanTech.Domain.Content.Models.Page;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{
            if (Model.DisplayTopicTitle)
            {
                <span class="govuk-caption-xl">@Model.SectionTitle</span>
            }

            if (Model.Title != null)
            {
                await Html.RenderPartialAsync("Components/Title", Model.Title);
            }

            var categoriesList = new List<Dfe.PlanTech.Domain.Questionnaire.Interfaces.ICategory>();

            var showRecommendations = false;
            
            foreach (var content in Model.Content)
            {
                await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                
                if (content is Dfe.PlanTech.Domain.Questionnaire.Interfaces.ICategory category)
                {
                    showRecommendations = true;
                    categoriesList.Add(category);
                }
            }
            if (showRecommendations)
            {
                @await Component.InvokeAsync("Recommendations", new { categories = categoriesList.ToArray() })
            }
        }
    </div>
</div>