@model IEnumerable<Dfe.PlanTech.Domain.Questionnaire.Models.RecommendationChunk>

<div>
    @foreach (var recommendationChunk in Model)
    {
        await Html.RenderPartialAsync("Components/Header", recommendationChunk.Header);

        @foreach (var content in recommendationChunk.Content)
        {
            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
        }
    }
</div>