@model IEnumerable<Dfe.PlanTech.Domain.Questionnaire.Models.RecommendationChunk>

<div>
    @foreach (var recommendationChunk in Model)
    {
        <div id="@recommendationChunk.Header.Text">
            @{
            await Html.RenderPartialAsync("Components/Header", recommendationChunk.Header);
            }
        </div>
        @foreach (var content in recommendationChunk.Content)
        {
            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
        }
    }
</div>