@    using Dfe.PlanTech;
    using Dfe.PlanTech.Domain.Extensions
@model Dfe.PlanTech.Domain.Content.Models.Title;

<h1 class="govuk-heading-xl">@StringExtensions.UseNonBreakingHyphenAndHtmlDecode(Model.Text)</h1>
