@model IEnumerable<Dfe.PlanTech.Domain.Content.Models.NavigationLink>

<ul class="govuk-footer__inline-list">
  @{
    foreach (var link in Model)
    {
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href=@link.Href>@link.DisplayText</a>
      </li>
    }
  }
</ul>