{
    "URL": "URL_VALUE",
    "DSi_Url": "DSI_URL",
    "DSi_Email": "DSI_USERNAME",
    "DSi_Password": "DSI_PASSWORD",
    "SPACE_ID": "CONTENTFUL SPACE ID",
    "DELIVERY_TOKEN": "CONTENTFUL DELIVERY TOKEN",
    "MANAGEMENT_TOKEN": "CONTENTFUL MANAGEMENT TOKEN",
    "CONTENTFUL_ENVIRONMENT": "CONTENTFUL SPACE ENVIRONMENT"
}