{
    "URL": "URL_VALUE",
    "DSi_Url": "DSI_URL",
    "DSi_Email": "DSI_USERNAME",
    "DSi_Password": "DSI_PASSWORD",
    "DSi_NoOrg_Email": "<USER WITHOUT ORGANISATION>",
    "DSi_NoOrg_Password": "<PASSWORD FOR EMAIL IN DSi_NoOrg_Email>",
    "SPACE_ID": "CONTENTFUL SPACE ID",
    "DELIVERY_TOKEN": "CONTENTFUL DELIVERY TOKEN",
    "MANAGEMENT_TOKEN": "CONTENTFUL MANAGEMENT TOKEN",
    "PREVIEW_TOKEN": "CONTENTFUL PREVIEW TOKEN",
    "USE_PREVIEW": "true OR false",
    "CONTENTFUL_ENVIRONMENT": "CONTENTFUL SPACE ENVIRONMENT",
    "APP_ENVIRONMENT": "ENVIRONMENT THE APP IS RUNNING AS - dev/test/staging/production/e2e/Development/etc. Should match the ASPNETCORE_ENVIRONMENT variable"
}
