@model Dfe.PlanTech.Web.Models.CheckAnswersViewModel

@section BeforeContent {
    <govuk-back-link href=@Model.BackUrl />
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                @{
                    await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Title);
                }
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    @foreach (var questionWithAnswer in Model.CheckAnswerDto.QuestionAnswerList)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @questionWithAnswer.QuestionText
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @questionWithAnswer.AnswerText
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                    }
                </dl>
                <form asp-controller="CheckAnswers" asp-action="ConfirmCheckAnswers" method="post">
                    @{
                        foreach (var content in Model.Content)
                        {
                            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                        }
                    }
                </form>
            </div>
        </div>
    </main>
</div>