<div class="govuk-phase-banner noprint govuk-!-display-none-print">
    <p class="govuk-phase-banner__content">
        @* <govuk-phase-banner-tag>Beta</govuk-phase-banner-tag> *@
        <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
        <span class="govuk-phase-banner__text">
            This is a new service - your <a href="https://forms.office.com/e/Jk5PuNWvGe" class="govuk-link" target="_blank" rel="noopener">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
