@model RichTextContentItem

<div style="width:100%;background-color:coral">
    <p class="govuk-body">
        Unsupported element 
        <br/>- internalName: @Model.InternalName
        <br/>- nodeType:     @Model.NodeType
        <br/>- value:        @Model.Value
    </p>
</div>