@model Dfe.PlanTech.Web.Models.Content.Mapped.Custom.CustomGridContainer

@{
<div class="dfe-grid-container">
    @foreach (var card in Model.Cards)
    {
        <partial name="Shared/RichText/Custom/_Card" model="card"/>
    }
</div>}
