@using Dfe.PlanTech.Web.TagHelpers.TaskList
@model Dfe.PlanTech.Domain.Questionnaire.Interfaces.ICategory;

@{
    await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Header);
}

@{
    foreach(var content in Model.Content){
        await Html.RenderPartialAsync("Components/PageComponentFactory", content);
    }
}

<task-list>
    @foreach (var categorySection in Model.Sections)
    {
        var tagColour = TagColour.Grey;
        var tagText = "NOT STARTED";

        <task-list-item>
            <task-list-item-name>
                <a asp-controller="Pages" asp-action="GetByRoute" asp-route-route=@categorySection.InterstitialPage.Slug class="govuk-link">
                    @categorySection.Name
                </a>
            </task-list-item-name>
            
            <task-list-tag colour=@tagColour>
                @tagText
            </task-list-tag>
        </task-list-item>
    }
</task-list>