name: Check Secret Expiry

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  check-expiry:
    runs-on: ubuntu-latest
    name: Check Secret Expiry for ${{ inputs.environment }}
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      

      - name: Check for expiring secrets
        uses: ./.github/actions/azure-check-expiry
        with:
          az_tenant_id: ${{ secrets.AZ_TENANT_ID }}
          az_subscription_id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          az_client_id: ${{ secrets.AZ_CLIENT_ID }}
          az_client_secret: ${{ secrets.AZ_CLIENT_SECRET }}
          az_keyvault_name: ${{ secrets.AZ_ENVIRONMENT }}${{ secrets.DFE_PROJECT_NAME }}-kv
          environment: ${{ inputs.environment }}

      - name: Install Python dependencies
        run: pip install pyyaml notifications-python-client

      - name: Run expiry check and email owners
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          NOTIFICATIONS_API_KEY: ${{ secrets.NOTIFICATIONS_SERVICE_GOV_UK_API_KEY }}
        run: python .github/scripts/send-expiry-alerts.py