name: Check Secret Expiry

on:
  schedule:
    - cron: '0 9 * * 1-5'  # 9am on every weekday from Monday through Friday

  workflow_dispatch:
    inputs:
      environment:
        description: Which environment to check
        required: true
        type: choice
        options: ['Dev', 'Tst', 'StagingUnprotected', 'ProductionUnprotected']
        default: 'Dev'

jobs:
  scheduled:
    if: github.event_name == 'schedule'
    name: Scheduled Secret Expiration Check
    strategy:
      matrix:
        target: [Dev, Tst, StagingUnprotected, ProductionUnprotected]
    uses: ./.github/workflows/check-secret-expiry.yml
    with:
      environment: ${{ matrix.target }}
    secrets: inherit

  manual:
    if: github.event_name == 'workflow_dispatch'
    name: Manual Secret Expiration Check
    uses: ./.github/workflows/check-secret-expiry.yml
    with:
      environment: ${{ inputs.environment }}
    secrets: inherit
