name: Verify Checks Running

on:
  pull_request:
    branches: ['main', 'development']

jobs:
  verify-checks-running:
    name: Verify Checks Running
    runs-on: ubuntu-22.04

    steps:
      - name: Echo to console
        run: echo "checks are running"
